
:root {
  --ff: 'Noto Sans Display', sans-serif;
  --color100: #A1A2AB;
}


.side-navbar {
max-width: 240px;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: var(--ff);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 12px;
}

/* --------------- */
/* --------------- */


.nav-links svg {
  color: var(--color100);
  width: 28px;
}


/* --------------- */
/* --------------- */

.left-side-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.left-side-container button {
  padding: 0;
}

.icon-logo-container {
display: flex;
gap: 6px;
align-items: center;
}

.icon-logo-container h4 {
font-size: 1.2rem;
font-weight: 700;
}

.left-side-container button {
  background: none;
}

.left-side-container svg {
font-size: 1.2rem;
font-weight: 700;
width: 24px;
height: 24px;
}

/* ------------------- */
/* SEARCH SECTION */
.search-container {
  background: #F5F8FA;
  display: flex;
  padding: 8px;
  margin: 14px 0 0 0;
  border-radius: 8px;
}

.search-container input{
  background: none;
  border: none;
  outline: none;
}
.search-container input::placeholder {
color: rgb(200, 200, 200);
}
.search-container svg {
  color: var(--color100);
  width: 18px;
  margin: 0 8px 0 0;
}
/* ---------------- */

.side-navbar__nav-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: auto;
  padding: 34px 0 100px 0;
}

.side-navbar__nav-links-container {
  -ms-overflow-style:none; /*Internet Explorer*/
  scrollbar-width:none; /*Firefox*/
}
.side-navbar__nav-links-container::-webkit-scrollbar {
  display: none; /*Safari and Chrome*/
}

.nav-links {
  color: var(--color100);
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 0;
}

.nav-links img, .nav-links svg {
  color: var(--color100);
  margin: 0 8px 0 0;
  width: 26px;
}

/* ---------- */
/* PROJECT NAV LINKS */

.nav-links-project-links {
  margin: 10px 0 10px 40px;
}

.project-links {
  padding: 8px;
  color: var(--color100);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
}

.project-links h5 {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
} 

.project-links span {
  background: black;
  width: 4px;
  height: 4px;
} 

.projects__title-container {
  display: flex;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-toggle {
  background: none;
  padding: 0;
}

.projects-toggle svg {
  width: 20px;
  cursor: pointer;
}

/* --------------- */
/* --------------- */

.side-navbar__account-profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  margin: 40px 0 0 0;
}

.side-navbar__account-profile-container button{
  background: none;
}

.side-navbar__account-profile-container svg{
  width: 26px;
}

/* ADDITIONAL STYLES: */
.nav-links:hover, .project-links:hover {
  background: #F5F8FA;
}

.left-side-container button:hover {
  color: #787878;
}



.js-projects-toggle-animation {
  transform: rotate(-90deg);
}


